<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.smhrd.dao.T_CHATTINGDAO">

<select id="list" resultType="kr.smhrd.entity.T_CHATTING">
select * from T_CHATTING
	where CR_SEQ=#{roomId}
	order by CHAT_DT desc
</select>

<insert id="chat" parameterType="kr.smhrd.entity.T_CHATTING">
insert into T_CHATTING values(T_CHATTING_SEQ.nextval,#{CR_SEQ},#{TALKER},#{CHAT_CONTENT},sysdate,null)
</insert>




</mapper>