<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.smhrd.dao.T_POSTDAO">

	<select id="list" resultType="kr.smhrd.entity.T_POST" >
		select * from T_POST
		order by P_DT desc
	</select>

	<insert id="write" parameterType="kr.smhrd.entity.T_POST">
		insert into T_POST
		values(
			T_POST_SEQ.nextval,
			#{P_TITLE},
			#{P_CONTENT},
			#{P_FILE},
			sysdate,
			#{P_VIEWS},
			#{P_LIKES},
			#{U_ID}		
		)
	</insert>
	

</mapper>